/* Capa cielo: paletas por estado. 26 variables, las mismas en los cuatro bloques. */
.e-amanecer {
  --cielo-estrato-lomo: #e89478;
  --cielo-filo-op: 0.5;
  --cielo-c0: #a4a2ad;
  --cielo-c1: #bfa8a2;
  --cielo-c2: #deae8c;
  --cielo-c3: #f8b674;
  --cielo-c4: #fdb266;
  --cielo-c5: #fdae64;
  --cielo-c6: #f4a26f;
  --cielo-c7: #e89a72;
  --cielo-lado: #a4a4b4;
  --cielo-lado-op: 0;
  --cielo-fulgor: #fff2a8;
  --cielo-fulgor2: #ffb86a;
  --cielo-nube-filo: #ffbc72;
  --cielo-nube-filo2: #fdba76;
  --cielo-nube-alta: #c88e78;
  --cielo-nube-media: #cf8e70;
  --cielo-nube-baja: #e59b6b;
  --cielo-nube-hueco: #b98474;
  --cielo-estrato-luz: #fed884;
  --cielo-estrato-sombra: #f7a163;
  --cielo-velo: #f8ceba;
  --cielo-bruma: #ffcf86;
  --cielo-estrella: #ffffff;
  --cielo-estrella2: #ffffff;
}
.e-mediodia {
  --cielo-estrato-lomo: #ffffff;
  --cielo-filo-op: 1;
  --cielo-c0: #4a9be7;
  --cielo-c1: #509fe8;
  --cielo-c2: #69b2ec;
  --cielo-c3: #90c8ee;
  --cielo-c4: #b4d8ee;
  --cielo-c5: #cfe3ee;
  --cielo-c6: #dbe8ee;
  --cielo-c7: #e2ebee;
  --cielo-lado: #8ed1ff;
  --cielo-lado-op: 0.6;
  --cielo-fulgor: #ffffff;
  --cielo-fulgor2: #ffffff;
  --cielo-nube-filo: #ffffff;
  --cielo-nube-filo2: #ffffff;
  --cielo-nube-alta: #ffffff;
  --cielo-nube-media: #e8eff7;
  --cielo-nube-baja: #b6cde6;
  --cielo-nube-hueco: #a9c3de;
  --cielo-estrato-luz: #ffffff;
  --cielo-estrato-sombra: #d5e3ef;
  --cielo-velo: #f4f7f8;
  --cielo-bruma: #f2f2ee;
  --cielo-estrella: #ffffff;
  --cielo-estrella2: #ffffff;
}
.e-atardecer {
  --cielo-estrato-lomo: #a85c8a;
  --cielo-filo-op: 0.85;
  --cielo-c0: #2b2d6c;
  --cielo-c1: #43387e;
  --cielo-c2: #7a4a8e;
  --cielo-c3: #b95f88;
  --cielo-c4: #e67869;
  --cielo-c5: #f8925b;
  --cielo-c6: #f7a162;
  --cielo-c7: #e2906c;
  --cielo-lado: #3a2f7a;
  --cielo-lado-op: 0;
  --cielo-fulgor: #ffc670;
  --cielo-fulgor2: #ff6a7c;
  --cielo-nube-filo: #c57a9c;
  --cielo-nube-filo2: #ffc47c;
  --cielo-nube-alta: #74508e;
  --cielo-nube-media: #a85c8a;
  --cielo-nube-baja: #e8836a;
  --cielo-nube-hueco: #5c4486;
  --cielo-estrato-luz: #ffd28a;
  --cielo-estrato-sombra: #c4587c;
  --cielo-velo: #d87a9c;
  --cielo-bruma: #ffb86c;
  --cielo-estrella: #ffffff;
  --cielo-estrella2: #ffffff;
}
.e-noche {
  --cielo-estrato-lomo: #2f3d6b;
  --cielo-filo-op: 1;
  --cielo-c0: #01153a;
  --cielo-c1: #02193f;
  --cielo-c2: #052350;
  --cielo-c3: #0e2b5b;
  --cielo-c4: #152e59;
  --cielo-c5: #1d325b;
  --cielo-c6: #30355c;
  --cielo-c7: #42354e;
  --cielo-lado: #1d417c;
  --cielo-lado-op: 0.22;
  --cielo-fulgor: #3d62a4;
  --cielo-fulgor2: #c9774a;
  --cielo-nube-filo: #3b4979;
  --cielo-nube-filo2: #3b4979;
  --cielo-nube-alta: #2f3d6b;
  --cielo-nube-media: #25355f;
  --cielo-nube-baja: #182950;
  --cielo-nube-hueco: #13234a;
  --cielo-estrato-luz: #33426f;
  --cielo-estrato-sombra: #1d2d59;
  --cielo-velo: #22335f;
  --cielo-bruma: #33446f;
  --cielo-estrella: #f4f6ff;
  --cielo-estrella2: #ffe9c8;
}
